<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sendthro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".CreateWhatsMsg"></activity>
        <activity android:name=".PhoneVerification" />
        <activity android:name=".QUEvents" />
        <activity android:name=".SaudiEvents" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".Notification_Reciver" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".Newmessage" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".CreateSmsScheduleActivity" />
        <activity android:name=".CreateEmailScheduleActivity" />
        <activity android:name=".MainActivityU" />
        <activity android:name=".WhatsAppScheduler" />
        <activity android:name=".EmailScheduler" />
        <activity android:name=".SmsScheduler" />
        <activity android:name=".Alarm_items" />
        <activity android:name=".UserEventsActivity" />
        <activity android:name=".CalendarFragment" />
        <activity android:name=".SmsUpdateSchedulerActivity" />
        <activity android:name=".ReminderAlarmService" />
        <activity android:name=".testActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".AddReminderActivity"
            android:parentActivityName=".MainActivityU"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!-- android:label="@string/title_activity_add_reminder" -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityU" />
        </activity>
        <activity
            android:name=".DialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <provider
            android:name=".AlarmReminderProvider"
            android:authorities="com.example.sendthro"
            android:exported="false" />

        <receiver android:name=".MyBroadcastReceiver" />
        <receiver android:name=".NotificationReciver" />
        <receiver android:name=".Notification_Reciver" />

        <service
            android:name=".ReminderAlarmService"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>